In [0]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("Assignment").getOrCreate()
dbutils.fs.cp("File:/Workspace/Shared/assignment.csv","dbfs:/FileStore/assignment.csv")
df=spark.read.format("csv").option("header","True").load("dbfs:/FileStore/assignment.csv")
df.show()
df.head(10)
df.printSchema()
df = df.withColumn("Salary", df["Salary"].cast("int"))
df_cleaned=df.filter(df.JoiningDate>"1-01-2020")
df_cleaned.show()
df_cleaned=df.filter(df.Salary>55000)
df_cleaned.show()
finding_avg=df.groupBy("Department").avg("Salary")
finding_avg.show()
find_count=df.groupBy("Department").count()
find_count.show()
df_cleaned.write.format("csv").mode("overwrite").save("dbfs:/FileStore/cleaned_data.csv")

+----------+-------------+----------+-----------+------+
|EmployeeID|         Name|Department|JoiningDate|Salary|
+----------+-------------+----------+-----------+------+
|      1001|     John Doe|        HR| 15-01-2021| 55000|
|      1002|   Jane Smith|        IT| 10-03-2020| 62000|
|      1003|Emily Johnson|   Finance| 01-07-2019| 70000|
|      1004|Michael Brown|        HR| 22-12-2018| 54000|
|      1005| David Wilson|        IT| 25-06-2021| 58000|
|      1006|  Linda Davis|   Finance| 15-11-2020| 67000|
|      1007| James Miller|        IT| 14-08-2019| 65000|
|      1008|Barbara Moore|        HR| 29-03-2021| 53000|
+----------+-------------+----------+-----------+------+

root
 |-- EmployeeID: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- JoiningDate: string (nullable = true)
 |-- Salary: string (nullable = true)

+----------+-------------+----------+-----------+------+
|EmployeeID|         Name|Department|JoiningDate|Salary|
+----------+-------------+----------+-----------+------+
|      1001|     John Doe|        HR| 15-01-2021| 55000|
|      1002|   Jane Smith|        IT| 10-03-2020| 62000|
|      1004|Michael Brown|        HR| 22-12-2018| 54000|
|      1005| David Wilson|        IT| 25-06-2021| 58000|
|      1006|  Linda Davis|   Finance| 15-11-2020| 67000|
|      1007| James Miller|        IT| 14-08-2019| 65000|
|      1008|Barbara Moore|        HR| 29-03-2021| 53000|
+----------+-------------+----------+-----------+------+

+----------+-------------+----------+-----------+------+
|EmployeeID|         Name|Department|JoiningDate|Salary|
+----------+-------------+----------+-----------+------+
|      1002|   Jane Smith|        IT| 10-03-2020| 62000|
|      1003|Emily Johnson|   Finance| 01-07-2019| 70000|
|      1005| David Wilson|        IT| 25-06-2021| 58000|
|      1006|  Linda Davis|   Finance| 15-11-2020| 67000|
|      1007| James Miller|        IT| 14-08-2019| 65000|
+----------+-------------+----------+-----------+------+

+----------+------------------+
|Department|       avg(Salary)|
+----------+------------------+
|        HR|           54000.0|
|   Finance|           68500.0|
|        IT|61666.666666666664|
+----------+------------------+

+----------+-----+
|Department|count|
+----------+-----+
|        HR|    3|
|   Finance|    2|
|        IT|    3|
+----------+-----+

In [0]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
spark=SparkSession.builder.appName("jsonAssignment").getOrCreate()
dbutils.fs.cp("File:/Workspace/Shared/products.json","dbfs:/FileStore/products.json")
df1=spark.read.format("json").option("multiline","True").load("dbfs:/FileStore/products.json")
df1.printSchema()
df1.head(10)
df1.show()
df_cleaned=df1.filter(df1.Stock>=30)
df_cleaned.show()
filet2=df1.filter(df1.Category=="Electronics")
filet2.show()
total_stocked=df1.groupBy("Category").sum("Stock")
total_elec_stock=total_stocked.filter(total_stocked.Category=="Electronics")
total_elec_stock.show()
average_product_price=df1.agg(F.avg("Price").alias("average Price"))
average_product_price.show()
df_cleaned.write.format("json").mode("overwrite").save("dbfs:/FileStore/cleaned_data.json")

root
 |-- Category: string (nullable = true)
 |-- Price: long (nullable = true)
 |-- ProductID: long (nullable = true)
 |-- ProductName: string (nullable = true)
 |-- Stock: long (nullable = true)

+-----------+-----+---------+-----------+-----+
|   Category|Price|ProductID|ProductName|Stock|
+-----------+-----+---------+-----------+-----+
|Electronics| 1200|      101|     Laptop|   35|
|Electronics|  800|      102| Smartphone|   80|
|  Furniture|  150|      103| Desk Chair|   60|
|Electronics|  300|      104|    Monitor|   45|
|  Furniture|  350|      105|       Desk|   25|
+-----------+-----+---------+-----------+-----+

+-----------+-----+---------+-----------+-----+
|   Category|Price|ProductID|ProductName|Stock|
+-----------+-----+---------+-----------+-----+
|Electronics| 1200|      101|     Laptop|   35|
|Electronics|  800|      102| Smartphone|   80|
|  Furniture|  150|      103| Desk Chair|   60|
|Electronics|  300|      104|    Monitor|   45|
+-----------+-----+---------+-----------+-----+

+-----------+-----+---------+-----------+-----+
|   Category|Price|ProductID|ProductName|Stock|
+-----------+-----+---------+-----------+-----+
|Electronics| 1200|      101|     Laptop|   35|
|Electronics|  800|      102| Smartphone|   80|
|Electronics|  300|      104|    Monitor|   45|
+-----------+-----+---------+-----------+-----+

+-----------+----------+
|   Category|sum(Stock)|
+-----------+----------+
|Electronics|       160|
+-----------+----------+

+-------------+
|average Price|
+-------------+
|        560.0|
+-------------+

In [0]:
df_delta=df.write.format("delta").mode("overwrite").save("dbfs:/FileStore/delta_emp_data")
df1.write.format("delta").mode("overwrite").save("dbfs:/FileStore/delta_products_data")
spark.sql("CREATE TABLE IF NOT EXISTS delta_emp_data USING DELTA LOCATION '/dbfs/FileStore/delta/delta_emp_data'")
spark.sql("CREATE TABLE IF NOT EXISTS delta_products_data USING DELTA LOCATION '/dbfs/FileStore/delta/delta_products_data'")
spark.sql("DESCRIBE delta_emp_data").show()
df_finance_employees = spark.sql("SELECT * FROM employee_delta WHERE Department = 'Finance'")
df_finance_employees.show()
df_expensive_electronics = spark.sql("SELECT * FROM product_delta WHERE Category = 'Electronics' AND Price > 500")
df_expensive_electronics.show()

+--------+---------+-------+
|col_name|data_type|comment|
+--------+---------+-------+
+--------+---------+-------+